@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    background: rgba(25, 40, 60, 1);
    color: rgba(255, 255, 255, 1);
    line-height: 22pt;
    font-family: 'Inconsolata', monospace;
    font-size: large;
}

a, a:visited, a:hover, a:active {
    color: mediumturquoise;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

h2 {
    color:lightseagreen;
}

::-webkit-scrollbar { 
    width: 2px;
}
::-webkit-scrollbar-track { 
    background:rgb(0, 75, 0);
    /* background: hsl(120 75% 50% / 1);  */
    /* background:rgb(0, 97, 86); */
}
::-webkit-scrollbar-thumb { 
    background: hsl(120 75% 50% / 1); 
    border-radius: 100vw;
    /* background:hsl(120 100% 10% / 1); */
    /* background: rgb(19, 169, 19); */
}
