@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    background: rgba(25, 35, 50, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Inconsolata', monospace;
    line-height: 21pt;
}

a, a:visited, a:hover, a:active {
    color: lightseagreen;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h2 {
    color:mediumturquoise;
}
